@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Application will not store information onto a server or database. However, the application uses openweathermap.org for the weather data, which may store your information on their end.</p>
